{% load staticfiles %}

<!-- 구글 로그인을 위한 load -->
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UOSCAT</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <!-- css -->
  <link rel="stylesheet" href="{% static 'index2.css' %}" type='text/css'>
  <!-- jquery -->
  <script src="{% static 'jquery.js' %}"></script>
  
  <!-- 케러셀 -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/docs.css' %}" rel="stylesheet">
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'css/comment.css' %}" rel="stylesheet">
  <link href="{% static 'js/google-code-prettify/prettify.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'color/default.css' %}" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

 {% if writing %}
 <link href="{% static 'writing.css' %}" type="text/css" rel="stylesheet">
 {% endif %}
  <!--  ionicons -->
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

</head>

<body>
  <div id="main">
    <header style="margin-bottom: 100px;">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- logo -->
            <a class="brand logo" href="{% url 'home' %}">
              <div class="logo-container d-flex">
                  <img class="logo-image" src="../../static/cat-logo.svg" alt="">
                  <h1 class="logo-name">UOSCAT</h1>
              </div>
            </a>
            <!-- end logo -->
            <!-- top menu -->
            <div class="navigation">
              <nav>
                <ul class="nav topnav">
                  <li class="dropdown {% ifequal now 'home'%}active{%endifequal%}">
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  {% ifequal now 'detail' %}
                  <li class="dropdown active">
                    <a href="#">Detail</a>
                    <!-- <ul class="dropdown-menu">
                      <li><a href="#">About us</a></li>
                    </ul> -->
                  </li>
                  {%endifequal%}
                  <li class="dropdown {% ifequal now 'newcat'%}active{%endifequal%}">
                    <a href="{%url 'newcat' %}">글쓰기</a>
                  </li>
                  <li class="dropdown">
                    {% if user.is_authenticated %}
                      <a href="/my_logout/">LogOut</a>
                      {{user.email}}
                      {{user.username}}
                    {% else %}
                    <a href="{% provider_login_url 'google' %}">LogIn</a>
                    {% endif %}
                  </li>
                </ul>
              </nav>
            </div>
            <!-- end menu -->
          </div>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery.elastislide.js' %}"></script>
  <script src="{% static 'js/sequence/sequence.jquery-min.js' %}"></script>
  <script src="{% static 'js/sequence/setting.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'js/portfolio/setting.js' %}"></script>
  <script src="{% static 'js/application.js' %}"></script>
  <script src="{% static 'js/jquery.flexslider.js' %}"></script>
  <script src="{% static 'js/hover/jquery-hover-effect.js' %}"></script>
  <script src="{% static 'js/hover/setting.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- 캐러셀 -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>
