{% extends "postapp/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container">
  <h1>Detail</h1>
  <div class="row">
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <article>
              <div class="heading">
                <h4>귀여운 고양이구만</h4>
              </div>
              <div class="clearfix">
              </div>
              <div class="row">
                <div class="span8">
                  <!-- start flexslider -->
                  <div class="flexslider">
                    <ul class="slides">
                      <li>
                        <img src="{{ cat.image.url }}" alt="" />
                      </li>
                      <!-- <li>
                        <img src="assets/img/slides/flexslider/img2.jpg" alt="" />
                      </li>
                      <li>
                        <img src="assets/img/slides/flexslider/img3.jpg" alt="" />
                      </li> -->
                    </ul>
                  </div>
                  <!-- end flexslider -->
                  <p>
                    {{cat.body}}
                  </p>
                </div>
                <div class="span4">
                  <div class="project-widget">
                    <h4><i class="icon-48 icon-beaker"></i> Project info</h4>
                    <ul class="project-detail">
                      <li><label>고양이 이름 :</label> {{ cat.name }}</li>
                      <li><label>마지막 식사 :</label> {{ cat.lasteat }} <a href="/feed/{{ cat.pk }}" class="btn btn-secondary">밥줬어요.</a></li>
                    </ul>
                  </div>
                  <div class="project-widget">
                    <h4><i class="icon-48 icon-beaker"></i> 서식지</h4>
                    <ul class="project-detail">
                      <li><label>{{ cat.name }}을 발견한 곳을 클릭한 후 제출!</label> <a class="btn btn-secondary">제출</a></li>
                      <li><div id="map" style="width:338px;height:300px;"></div></li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- end article full post -->
          </div>
        </div>
      </div>
    </section>
    <!--  -->
  </div>


  <!-- kakao map -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=94d0a2f58c194ef47c239fd937aaaac4"></script>
  <script type="text/javascript">
    const pos_string="{{pos}}".replace(/&#39;/g,"\"");
  </script>
  <script type="text/javascript" src="{%static 'kakaomap.js' %}"

  <div class="vote">
    {% if not cat.voting %}
    <div class="row">
      <p>새 이름을 지어줄까요?</p>
      <a class="btn btn-success">네</a>
    </div>
    {% else %}
      투표 진행중
    {% endif %}
  </div>
</div>
{% endblock %}
