{% extends "postapp/base.html" %}
{% block content %}
{% load staticfiles %}

<script>
  function AddName_click() {
    alert("새 이름을 추가합니다.");
}
</script>
<div class="container">
  <h1>Detail</h1>
  <div class="row">
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <article>
              <div class="heading">
                <h4>귀여운 고양이구만</h4>
              </div>
              <div class="clearfix">
              </div>
              <div class="row">
                <div class="span8">
                  <!-- start flexslider -->
                  <div class="flexslider">
                    <ul class="slides">
                      <li>
                        <img src="{{ cat.image.url }}" alt="" />
                      </li>
                      <!-- <li>
                        <img src="assets/img/slides/flexslider/img2.jpg" alt="" />
                      </li>
                      <li>
                        <img src="assets/img/slides/flexslider/img3.jpg" alt="" />
                      </li> -->
                    </ul>
                  </div>
                  <!-- end flexslider -->
                  <p>
                    {{cat.body}}
                  </p>
                </div>
                <div class="span4">
                  <div class="project-widget">
                    <h4><i class="icon-48 icon-beaker"></i> Cat Info</h4>
                    <ul class="project-detail">
                      <li><label>고양이 이름 :</label> {{ cat.name }}</li>
                      <li><label>마지막 식사 :</label> {{ cat.lasteat }} <a href="/feed/{{ cat.pk }}" class="btn btn-secondary">밥줬어요.</a></li>
                    </ul>
                  </div>

                  <div class="project-widget">
                      <h4><i class="icon-48 icon-map-marker"></i> 서식지</h4>
                      <form action="{% url 'addhabitat' num=cat.pk %}" method="post">
                        {% csrf_token %}
                        <ul class="project-detail">
                          <li><label>발견지역들 클릭한 후 제출!</label><button type="submit" class="btn btn-secondary" style="margin-left:10px;">제출</button></li>
                          <input id="position_string" type="text" name="position_string" style="display:none;">
                          <li><div id="map" style="width:100%;height:300px;"></div><a onclick="removeCircles()" class="btn btn-secondary">변경내용 모두삭제</a></li>
                        </ul>
                      </form>
                  </div>
                </div>
              </div>
            </article>
            <!-- end article full post -->
          </div>
        </div>
      </div>
    </section>
    <!--  -->
  </div>


  <!-- kakao map -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=94d0a2f58c194ef47c239fd937aaaac4"></script>
  <script type="text/javascript">
    const pos_string="{{pos}}".replace(/&#39;/g,"\"");
  </script>
  <script type="text/javascript" src="{%static 'kakaomap.js' %}"></script>
  <div class="vote">
    <!-- 나중에 투표종료를 누르면 Vote의 객체를 없애서 투표창을없애주도록 하자. -->
    {% if vote %}
    <p>투표 내용입니다.</p>
    <!-- 투표의 내용 -->
    {% else %}
    <p>현재 투표가 없습니다.</p>
    <!-- 투표를 새로 시작하는 창 -->
    {% endif %}




    {% if not cat.voting %}
    <div class="row">
      <p>새 이름을 지어줄까요?</p>
      <a href="/votecondition/{{ cat.pk }}"class="btn btn-success">네</a>
    </div>
    {% else %}
      <p>투표 진행중</p>


      <!-- 이름 투표 테이블 -->
      <table class="table table-striped">
          <thead>
          <tr>
              <td><B>이름</B></td>
              <td><B>투표수</B></td>
              <td><B>지지하기</B></td>
          </tr>
          </thead>
          <!-- 기존에 있던 이름도 여기에 추가를 해주자.  -->
         {% for choice in choices  %}
          <tbody>
            <tr>
              <td>{{choice.name}}</td>
              <td>{{choice.count}}</td>
              <td>
                  <form action = "{%url 'vote' vote.id%}" method="POST">
                    {% csrf_token %}
                      <button name="choice" value="{{choice.id}}">선택</button>
                  </form>
              </td>
          </tr>
          </tbody>
          {% endfor %}
      </table>
      <form action="{% url 'add_name' cat.id%}">
        <input type="text" name="add_name">
        <input class = "btn btn-dark" type="submit" value="새 이름 추가하기">
      </form> 
      <input class = "btn btn-dark" type="submit" value="js로 확인" onclick="AddName_click()">
      <a href="/votecondition/{{cat.pk}}" class="btn btn-success">투표 종료</a>
    {% endif %}
  </div>
</div>
{% endblock %}
