{% extends "postapp/base.html" %}

{% load staticfiles %}

{% block content %}

<!-- <img src="{% static 'python.png'%}" alt=""> -->
<div class="container">
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <ul class="portfolio-area da-thumbs">
          {% for cat in posts %}
          <li class="portfolio-item2" data-id="id-0" data-type="graphic">
            <div class="span4">
              <div class="thumbnail">
                <div class="image-wrapp">
                  <img src="{{ cat.image_thumbnail.url }}" alt="Portfolio name" title="" />
                  <article class="da-animate da-slideFromRight" style="display: block;">
                    <div class="d-flex">
                    <h4>{{ cat.name }}</h4>
                    {% if cat.voting %}<span class="badge badge-success">작명중</span>
                    {% else %}<span class="badge badge-secondary">작명끝</span>
                    {% endif %}
                    </div>
                    <!-- <p style="height:20px; border-radius:2px;background-color: white">{{ cat.body }}</p> -->
                    <!-- <a href="portfolio-detail.html"><i class="icon-rounded icon-48 icon-link"></i></a> -->
                    <span><a class="zoom" data-pretty="prettyPhoto" href="{{cat.image.url}}">
                      <i class="icon-rounded icon-48 icon-zoom-in"></i>
                    </a></span>
                    <span><a href="{% url 'detail' num=cat.pk %}">
                      <i class="icon-rounded icon-48 icon-book"></i>
                    </a></span>
                  </article>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

      </div>

    </div>
  </section>
  <div class=center>
    {% if posts.has_previous %}
      <a href="?page=1">맨 앞으로</a>
      <a href="?page={{posts.previous_page_number}}">이전으로</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>/</span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
      <a href="?page={{posts.next_page_number}}">다음으로</a>
      <a href="?page={{posts.paginator.num_pages}}">맨 뒤로</a>
    {% endif %}
  </div>

</div>
{% endblock %}
