table{
  width: 100%;
  display: flex;
  justify-content: center;
}
#id_name{
  width: 606px;
  height: 20px;
}

#id_image{
  width: 620px;
  height: 30px;
}

#id_gender{
  width: 620px;
  height: 30px;
}
#id_body{
  width: 606px;
  height: 250px;
}

.submit{
  display: flex;
  justify-content: center;
}
.submit_btn{
  width: 620px;
  margin-left: 50px;
}

.cat{
  margin-top: 50px;
  text-align: center;
}
.backimage{
  position: relative;
  display: flex;
  justify-content: center;
  top:0;
  background-image: url('https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.edit_container{
  position: absolute;
  top: 0;
  height: 80vh;
  width: 80%;
  margin: auto;
  z-index: 100;

}
